html {
    background-color: aqua;
}

body {
    font-size: 40px;
}

.color-white {
   color: white; 
}

h2 {
    color: greenyellow;
    font-size: 10px;
}

p.color-fuchsia {
    color: fuchsia;
    text-shadow: 0 0 3px #FF0000;
    text-align: justify;          /* faltol falig igazitja a szoveget */
}

h1 {
    outline: #4CAF50 solid 10px;
    
}
